<div style="max-width: 300px;margin:auto">
<form style="" [formGroup]="commonForm">
    <mat-form-field class="input-biz" appearance="fill">
        <mat-label>Name<span style="color:orange">*</span></mat-label>
        <input formControlName="nameCtrl" matInput>
      </mat-form-field>
    <mat-form-field class="text-area" appearance="fill">
        <mat-label>Description</mat-label>
        <textarea formControlName="descriptionCtrl" rows="4" matInput></textarea>
      </mat-form-field>
      <!-- <mat-checkbox class="example-margin" formControlName="locationCtrl">check location?</mat-checkbox>
       -->
</form>
</div>