// $primary: rgb(169, 169, 169);;
// $secondary: rgb(216, 160, 6);
// $light: lighten($primary, 20%);
// $dark: darken($secondary, 10%);
$highlight:#ff0074;
$warn: #ff0074;
$secondary: #2d3055;

// color palette

    $black: #0c0f0a;
    $pink: #ff206e;
    $pink-dark: #b3144c;
    $yellow: #fbff12;
    $yellow-dark: #a9ac0d;
    $teal: #41ead4;
    $teal-dark: #288a7d;
    $white: #ffffff;
