<mat-card  class="example-card">
    <mat-card-header *ngIf="role=='receiver'">
      <div ></div>
      <mat-card-title> {{gratitudeToken.senderName}}</mat-card-title>
      <mat-card-subtitle>Sent you a Gratitude Token</mat-card-subtitle>
    </mat-card-header>
    <img *ngIf="gratitudeToken.type == 'image' && src !== undefined" mat-card-image src="{{src}}" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
       {{gratitudeToken.description}}
      </p>
    </mat-card-content>
    <mat-card-actions style="text-align: center;" *ngIf="role=='receiver'">
      <button (click)="accept()" mat-raised-button color="primary">accept</button>
      <button (click)="reject()" mat-raised-button color="warn">reject</button>
    </mat-card-actions>
    <mat-card-actions  *ngIf="role=='creater'">
      <button mat-raised-button>LIKE</button>
      <button mat-raised-button>SHARE</button>
    </mat-card-actions>
  </mat-card>