<div style="text-align: center">
  <h4>In order to create a Nft from an iamge, please upload the file</h4>

  <input hidden type ="file" (change) = "onFileUpload($event)" #fileupload>
  <button (click) = "fileupload.click()" type="button" class="top-bar-element top-bar-element-biz">
    <div class="display-flex-center">
      <div class="top-bar-element-icon">
        <mat-icon> image</mat-icon>
      </div>
      <div class="top-bar-element-text top-bar-element-text-biz">
        <span></span>Upload Image
      </div>
    </div>
  </button>




</div>

<div class="snapshot" *ngIf="image!= undefined">
  <h2>Your Picture</h2>
  <img  class="card-image-img card-img img-thumbnail rounded img-fluid"
  [src]="image" />
  <common-form #commonForm></common-form>
  <button [style.background]="commonForm.commonForm.valid ? 'green' : 'lightgrey'" style="background: green;" (click)="mintNft()"  type="button" class="top-bar-element top-bar-element-biz">
    <div class="display-flex-center">

      <div class="top-bar-element-text top-bar-element-text-biz">
        <span></span>Create Nft
    </div>
    </div>  
  </button>
</div>


<div  *ngIf="show_mint_success == true"  style="width:100vw;
height: 100vh;
background-color: rgba(91, 87, 87, 0.7);
position: fixed;
top: 0px;
left:0px;
z-index: 1000;">
  <app-particles style="position: fixed;width: 100%;height: 100%;left: 0;top: 0;"
   [shape]="2" [moveSpeed]="9" [defSize]="20" [number]="200" [linkingFlag]="false" [snowEffect]="true">
  </app-particles>
  <div style="width: 80%;
  max-width:500px;
  min-width: 300px;
  background: white;
  border-radius: 5px;
  opacity: 1;
  margin: auto;
  display:flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  transform: translateY(calc(50vh - 280px));
  padding: 10px 20px 32px;
">
<mat-icon (click)="close()" style="color:red;cursor:pointer;">clear</mat-icon>
<h3> Bravo!!!</h3>
<p>Your gratitude Token has been minted and is ready to be delivered</p>
<span>{{show_mint_code}}</span>
<button style="margin: 0 5px 0 5px; transform: scale(0.7)" class="btn btn-light"

[cdkCopyToClipboard]="show_mint_code">
<i class="material-icons">content_copy</i>
</button>
  </div>
  </div>