<!-- <onchain-home [contractHeader]="contractHeader" 
[blockchain_status]="blockchain_status"
[blockchain_is_busy]="blockchain_is_busy" [signer]="signer"
(doFaucetEvent)="doFaucet()" (openTransactionEvent)="openTransaction()">
 -->



<div *ngIf="!!contractHeader">
  <mat-tab-group [(selectedIndex)]="selectedIndex" mat-align-tabs="center">


    <mat-tab label="Create Gratitude ">
      <gratitude-wrappper  *ngIf="selectedIndex == 0"></gratitude-wrappper>
   
     </mat-tab>

    <!-- <mat-tab label="test/try Download/upload Ipfs">
      <ipfs-download></ipfs-download>

      <ipfs-upload></ipfs-upload>
    </mat-tab>

    <mat-tab label="Debug Contract">
      <debug-component *ngIf="myContract && myContract.contract" [debugContract]="myContract"></debug-component>
    </mat-tab> -->

  </mat-tab-group>
  </div>





<!-- </onchain-home> -->