<div>
  {{ data.success == true ? "OK" : "Error" }}
</div>
<div style="">
  <mat-icon
    style="position: absolute; top: 6px; right: 8px; cursor: pointer"
    mat-flat-button
    (click)="snackBarRef.dismiss()"
    >close</mat-icon
  >
  <div
    *ngIf="data.success == false"
    style="
      font-size: 14px;
      word-break: break-all;
      overflow-y: scroll;
      overflow-wrap: break-word;
      font-size: 13px; ;
    "
    class="content-style"
  >
    {{ data.error_message }}
  </div>

  <div
    *ngIf="data.success == true"
    style="
      font-size: 14px;
      word-break: break-all;
      overflow-y: scroll;
      overflow-wrap: break-word;
      font-size: 13px; ;
    "
    class="content-style"
  >
    <div *ngIf="data.success_message !== undefined">
      {{ data.success_message }}
    </div>
    <div *ngIf="data.success_message === undefined">
      Tx: {{ data.success_result.txhash }}<br />
      From: {{ data.success_result.from }}<br />
      To: {{ data.success_result.to }}<br />
      Gas: {{ data.success_result.gas }}<br />
      Value: {{ data.success_result.value }}<br />
      BlockNr: {{ data.success_result.bknr }}<br />
    </div>
  </div>
</div>
