<div id="theme-main-banner" style="display: block;" >
    <!-- <app-particles  class="particles" [shape]="3" [moveSpeed]="9" [defSize]="20"
    [number]="50" [linkingFlag]="false" [snowEffect]="true">
  </app-particles> -->
  <div #video></div>
  <app-particles class="particles"   [shape]="0" [moveSpeed]="6" [defSize]="0" [number]="120" [linkingFlag]="true"
  [snowEffect]="false"></app-particles>
  <div >
    <div class="camera_caption">
      <div class="main-container">
        <div class="container-hero">
          <h1>
            …A world of Gratitude..
          </h1>
            <!-- <h1>FUn nuevo formato de tarjeta regalo! 
        </h1> -->
       <p>Share your gratitude with friends, place an inmutable memory with one NFT
            </p>
            <a (click)="connect()" class="tran3s theme-button"><span></span> Connect</a>
              <!--  <h1>…una puerta abierta a comercios de barrio 
              y las personas quienes le dan vida.
              

        </div> <!-- /.container -->
      </div> <!-- /.main-container -->
    </div> <!-- /.camera_caption -->
  </div>
  <div *ngIf="false" class="container container-wrapp" id="firstSection">
    <div class="sc-hORach hero-text-wrapper">
      <span  style="color:white"  class="hero-text-h1" display="block" color="#ffffff">
        <!-- Tu Barrio  te Quiere <br> -->
        Barrio Pass <span style="color:white" class="yellow"> </span>
         <span style="color:white"  class="yellow">y disfruta </span> como nunca <span class="yellow"> Madrid</span></span>
      <!-- <span class="hero-text-copy" display="block" color="#2d3055">Sabemos que eres solidario, muestralo!!. Por cada 25€ que
        gastes a través de #Barriopass 1 € se dará al banco de limentos de la ciudad
      </span>
    <span class="hero-text-copy" display="block"
        color="#2d3055">Escoge tu Barrio/Municipio entre los añadidos </span>

      <span class="hero-text-copy" display="block" color="#2d3055">Esta plataform todavía no esta operativa.</span> -->

    </div>









  </div>
</div>