h1 {
  font-size: 50px;
  line-height: 60px;
  width: 50%;
  background: rgba(255, 255, 255, 0.72);
  color: black;
  padding: 16px;
  border-radius: 5px;
}

h5 {
  font-size: 32px;
  line-height: 50px;
  font-weight: 700;
  width: 40%;
}

h1, h2, h3, h4, h5, h6 {
  color: #00000a;
  font-weight: 600;
}

p {
  line-height: 35px;
  font-family: "Open Sans", sans-serif;
}

.particles {
  height: 100vh;
  position: Fixed;
  background: #f1b9f199;
  width: 100vw;
  top: 0;
  left: 0;
  background: linear-gradient(41deg, #ff0075, #ff00758f);
}

#theme-main-banner {
  margin-bottom: 40px;
  position: relative;
  height: 700px;
}

.camera_wrap {
  float: none;
}

#theme-main-banner .camera_overlayer {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
}

#theme-main-banner.camera_wrap .camera_pag .camera_pag_ul {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 38px;
  z-index: 99;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#theme-main-banner .camera_caption {
  height: 100%;
}

#theme-main-banner .camera_caption .main-container {
  position: relative;
}

#theme-main-banner .camera_caption > div {
  background: transparent;
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-shadow: none;
  left: 0;
  padding: 0;
  z-index: 2;
}

@media (max-width: 991px) {
  #theme-main-banner .camera_caption > div {
    top: unset;
    -webkit-transform: unset;
            transform: unset;
    padding-top: 65px;
  }
}

#theme-main-banner .camera_caption .container-hero {
  position: relative;
  z-index: 99;
}

#theme-main-banner .camera_caption .container-hero h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  color: #ffff;
  text-transform: uppercase;
  line-height: 45px;
}

#theme-main-banner.banner-one .camera_caption .container-hero h5 {
  color: rgba(0, 0, 0, 0.4);
  text-transform: capitalize;
}

#theme-main-banner .camera_caption .container-hero h1 {
  color: #ff0075;
  text-transform: capitalize;
  margin: 25px 0 40px 0;
}

#theme-main-banner.banner-one .camera_caption .container-hero h1 {
  color: #000;
}

#theme-main-banner .camera_caption .container-hero p {
  font-size: 23px;
  margin: 0 0 55px 0;
  color: rgba(255, 255, 255, 0.85);
  max-width: 550px;
}

#theme-main-banner.banner-one .camera_caption .container-hero p {
  color: rgba(0, 0, 0, 0.6);
}

#theme-main-banner .camera_caption .container-hero a {
  width: 190px;
  line-height: 56px;
  font-size: 18px;
  font-weight: 500;
  border: 2px solid #c7c2c2;
  border-radius: 3px;
  text-align: center;
  margin: 10px 15px 0 0;
  color: #fff;
  padding: 8px 8px 8px 8px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

#theme-main-banner .camera_caption .container-hero a:hover {
  background: white;
  color: #ff0075;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.08);
}

#theme-main-banner .camera_caption .container-hero a i {
  font-size: 22px;
  vertical-align: -1px;
  margin-right: 10px;
}

#theme-main-banner .camera_caption .container-hero a img {
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
}

#theme-main-banner .camera_caption .container-hero a.button-one {
  background: #252525;
  border-color: #252525;
}

#theme-main-banner.banner-one .camera_caption .container-hero a.button-two {
  border-color: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.52);
}

#theme-main-banner .camera_caption .container-hero a.button-one:hover,
#theme-main-banner .camera_caption .container-hero a.button-two:hover,
#theme-main-banner.gradient-banner-one .camera_caption .container-hero a.button-one:hover,
#theme-main-banner.gradient-banner-one .camera_caption .container-hero a.button-two:hover,
.home-page-one .partical-gradient-one #theme-main-banner .camera_caption .container-hero a.button-one:hover,
.home-page-one .partical-gradient-one #theme-main-banner .camera_caption .container-hero a.button-two:hover {
  background: #fff;
  border-color: #fff;
  color: #252525;
}

.home-page-one #theme-main-banner .camera_caption .container-hero a:hover,
.home-page-one #theme-main-banner.banner-one .camera_caption .container-hero a.button-two:hover {
  background: #fd3f38;
  border-color: #fd3f38;
  color: #fff;
}

#theme-main-banner .camera_caption .container-hero .image-wrapper {
  position: absolute;
  width: 44%;
}

#theme-main-banner .camera_caption .container-hero .image-wrapper img {
  max-width: 100% !important;
}

#theme-main-banner .camera_caption .container-hero .image-wrapper,
#theme-main-banner.banner-two .camera_caption .container-hero .image-wrapper {
  right: 0px;
  top: -100px;
}

#theme-main-banner.banner-three .camera_caption .container-hero .image-wrapper,
#theme-main-banner.gradient-banner-one .camera_caption .container-hero .image-wrapper {
  right: 0;
  top: -100px;
  width: 43%;
}

#theme-main-banner.banner-three.gradient-banner-three .camera_caption .container-hero .image-wrapper,
.partical-gradient-three #theme-main-banner.banner-three .camera_caption .container-hero .image-wrapper {
  top: auto;
  bottom: -287px;
  right: -140px;
}

#theme-main-banner.gradient-banner-one .camera_overlayer {
  background: linear-gradient(-41deg, #00d7dd 0%, #08a7dd 100%);
}

#theme-main-banner.gradient-banner-two .camera_overlayer {
  background: linear-gradient(-34deg, #f47848 0%, #ff3636 100%);
}

#theme-main-banner.gradient-banner-three .camera_overlayer {
  background: linear-gradient(131deg, #5c39ec 0%, #8470ff 100%);
}

.camera_caption {
  bottom: 0;
  display: block;
  position: absolute;
  width: 100%;
}

.camera_caption > div {
  padding: 10px 20px;
}

.camera_caption {
  color: #fff;
}

.camera_caption > div {
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}

@media (min-width: 992px) and (max-width: 1199px) {
  #theme-main-banner {
    height: 750px;
  }
  #theme-main-banner .camera_caption .container-hero .image-wrapper,
  #theme-main-banner.banner-two .camera_caption .container-hero .image-wrapper {
    top: -110px;
  }
}

@media (max-width: 991px) {
  #theme-main-banner .camera_caption .container-hero .image-wrapper {
    display: none;
  }
  #theme-main-banner .camera_caption .container-hero h5 {
    margin-top: 0px;
  }
  #theme-main-banner {
    height: 750px;
  }
}

@media (max-width: 600px) {
  #theme-main-banner .camera_caption .container-hero h1 br, #theme-main-banner .camera_caption .container-hero p br {
    display: none;
  }
}

@media (max-width: 480px) {
  #theme-main-banner .camera_caption .container-hero h5 {
    margin-top: 0px;
  }
  #theme-main-banner .camera_caption .container-hero h1 {
    width: 100%;
    font-size: 35px;
    line-height: 50px;
  }
}

.container-hero {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container-hero {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container-hero {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container-hero {
    width: 1170px;
  }
}
/*# sourceMappingURL=landing.component.css.map */