
<div style="margin:auto;text-align: center;margin:20px;padding-top:30px">
        <h4>Available Campaigns</h4>
        <p>Campaigns are the way we can express </p>
        <div style="display:flex;flex-wrap: wrap;justify-content: center;">
            <campaign-card [gratitudeCampaign]="campaign" *ngFor="let campaign of campaigns" ></campaign-card>
        </div>

    <div *ngIf="this.blockchain_status=='success'">

    <div style="margin:20px;" *ngIf="campaigns.length == 0">
        <p>You haven't yet created any Gratitude Campaigns</p>
 
    </div>
 
     <button (click)="openDialog()" style="margin-top:10px;" type="button" class="top-bar-element  top-bar-element-biz">
        <div class="display-flex-center">
            <div class="top-bar-element-icon">
                <mat-icon>
                    favorite
                </mat-icon>
            </div>
            <div class="top-bar-element-text top-bar-element-text-biz"><span></span>Create a Campaign
            </div>
        </div>
    </button>
</div>



    </div>