<div class="container">
    <h2 class="title">Gratitude<span class="title-nft">NFT</span></h2>
    <div class="card">
        <div class="card-frame">
            <div class="card-title">
                <h4>Create a Gratitude
                     <span class="card-title-nft">NFT
                     </span>
                </h4>
            </div>
            
            <div class="card-image">
                <img class="card-image-img" />
            </div>
            <div class="card-details">
                <p class="card-details-para">details...</p>
            </div>
            <div class="card-buttons">
                <button class="card-buttons-btn">press</button>
                <button class="card-buttons-btn">press</button>
                <button class="card-buttons-btn">press</button>
                <button class="card-buttons-btn">press</button>
            </div>
            <div class="card-options">options...</div>
        </div>

    </div>
</div>
