@import "../../../../assets/css/variables";
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@font-face {
    font-family: "Glory";
    src: url(https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap);
}

.background{
    background: -webkit-linear-gradient($pink, $teal);
    width: 100vw;
    top: 0;
    left: 0;
  
  }
input, textarea, labe{
    background-color: $white;
    color: $white;
}
.container{
    display: flex;
    position: relative;
    background-color: $teal;
}
.title{
    display: flex;
    justify-content: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 56px;
    background: -webkit-linear-gradient($pink, $black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.title-nft{
    font-family: 'Kaushan Script', cursive;
    background: -webkit-linear-gradient($pink, $yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.card{
    display: flex;
    position: relative;
     background: -webkit-linear-gradient($pink, $teal);
}
.card-frame{
    display: flex;
    position: relative;
    flex-direction: column;
}
.card-title{
    display: flex;
    justify-content: center;
    
}
.card-image{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    object-fit: fill;
   
}
.card-image-img {
    display: flex;
    position: relative;
    justify-content: center;
    width: 700px;
    
}
.card-filters{
    display: flex;
    flex-direction: column;
}
.image-upload{
    display: flex;
    justify-content: center;
}
.image-upload-btn{
    display: flex;
    justify-content: center;
}
.card-mint{
    display: flex;
    justify-content: center;
}
.card-mint-btn{
    display: flex;
    justify-content: center;
}