<div class="container">
    <h2 class="title">Gratitude<span class="title-nft">NFT</span></h2>
    <div class="card">
        <div class="card-frame">
            <div class="card-image"></div>
            <div class="card-title">
                <h4>Create a Gratitude
                     <span class="card-title-nft">NFT
                     </span>
                </h4>
            </div>
            <div class="card-details"></div>
            <div class="card-buttons"></div>
            <div class="card-options"></div>
        </div>

    </div>
</div>
