@import "../../../../assets/css/variables";
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@font-face {
    font-family: "Glory";
    src: url(https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap);
}

@mixin button {
    width: 190px;
    line-height: 56px;
    font-size: 24px;
    font-weight: 500;
    border: 2px solid $white;
    border-radius: 3px;
    text-align: center;
    margin: 10px 15px
px
 0 0;
    color: #fff;
    background-color: transparent;
    padding: 8px 8px 8px 8px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}
button:hover {
      width: 190px;
    line-height: 56px;
    font-size: 26px;
    font-weight: 500;
    border: 2px solid $white;
    border-radius: 3px;
    text-align: center;
    margin: 10px 15px
px
 0 0;
    color: $teal;
    background-color: $white;
    padding: 8px 8px 8px 8px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.background{
    background: -webkit-linear-gradient($pink, $teal);
    width: 100vw;
    top: 0;
    left: 0;
  
  }
input, textarea, labe{
    background-color: $white;
    color: $white;
}
.container{
    display: flex;
    position: relative;
    background-color: $teal;
}
.title{
    display: flex;
    justify-content: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 66px;
    background: -webkit-linear-gradient($pink, $black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 15px;
}
.title-nft{
    font-family: 'Kaushan Script', cursive;
    background: -webkit-linear-gradient($black, $pink);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.card{
    display: flex;
    position: relative;
     background: -webkit-linear-gradient($pink, $teal);
}
.card-frame{
    display: flex;
    position: relative;
    flex-direction: column;
}
.card-title{
    display: flex;
    justify-content: center;
    
}
.card-image{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    object-fit: fill;
   
}
.card-image-img {
    display: flex;
    position: relative;
    justify-content: center;
    width: 700px;
    
}
.card-filters{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.image-upload{
    display: flex;
    justify-content: center;
}
.image-upload-btn{
    display: flex;
    justify-content: center;
    @include button;
}
.card-mint{
    display: flex;
    justify-content: center;
}
.card-mint-btn{
    display: flex;
    justify-content: center;
    width: 400px;
    @include button;
}
.card-buttons-btn{
    @include button;
}
.card-text-label{
    width: 175px;
    line-height: 26px;
    font-size: 24px;
    font-weight: 500;
    border: 2px solid $yellow;
    border-radius: 3px;
    text-align: center;
    margin: 10px 15px
px
 0 0;
    color: $white;
    padding: 8px;
    background-color: transparent;
    border-radius: 5px;
    text-decoration: none;
}
.card-text-inputs{
    width: 100%;
    line-height: 34px;
    font-size: 34px;
    font-weight: 500;
    border: 2px solid $white;
    border-radius: 3px;
    text-align: center;
    margin: 10px 15px
px
 0 0;
    color: $white;
    background-color: transparent;
    padding: 8px 8px 8px 8px;
    border-radius: 5px;
    text-decoration: none;
}