<!--  -->
<div class="background">
<div class="container d-flex flex-column justify-content-center">
    <h2 class="title">Gratitude<span class="title-nft">NFT</span></h2>
    <div class="card">
        <div class="card-frame">
            <div class="card-image">
                <div id="temp1" class="card-image-temp1"><img src="../../../../assets/images/birthday-g62be367ca_640.png" width="700px"></div>
                    <div class="card-image-temp2"></div>
                        <div class="card-image-temp3"></div>

                <img [ngClass]="isFilter ? 'grayscale' : 'none'" [ngClass]="isFilter2 ? 'hue' : 'none'" [ngClass]="isFilter3 ? 'invert' : 'none'" class="card-image-img card-img img-thumbnail rounded img-fluid"
                    [src]="image" />


                    <div class="card-filters  justify-content-around m-2">
                        <button (click)="temp1()"  class="card-buttons-btn ">Thank You</button>
                        <button (click)="temp5()" class="card-buttons-btn ">Congrats</button>
                        <button (click)="temp4()" class="card-buttons-btn ">Birthday</button>
                        <button (click)="temp6()" class="card-buttons-btn ">Random Image</button>
                        <button (click)="temp2()" class="card-buttons-btn ">Monster</button>
                        <button (click)="temp3()" class="card-buttons-btn ">Kitten</button>
                    </div>
            </div>
                <!-- <div class="card-title m-auto p-2">
                <h4>Create a Gratitude
                    <span class="card-title-nft">NFT
                    </span>
                </h4>
                </div> -->
            <div class="image-upload">
                <input hidden type ="file" (change) = "onFileUpload($event)" #fileupload>
                <button (click) = "fileupload.click()" class="image-upload-btn btn-primary p-2 mb-3">
                    Upload Image
                </button>
            </div>

            <div class="card-text-input p-2 m-2 justify-content-around">
                <div class="px-2">
                  <label class="card-text-label" for="Title">Name</label>
                <input class="card-text-inputs" [(ngModel)]="details.name" type="text" placeholder="your name here">
                </div>
                <div class="px-2">
                  <label class="card-text-label" for="gratitude"> Gratitude </label>
                <textarea class="card-text-inputs" [(ngModel)]="details.gratitude" placeholder="insert gratitude here" rows="1"></textarea>
                </div>
            </div>
            </div>
            <div class="card-mint">
                <button class="card-mint-btn w-75 mt-20" (click)="submitNft()">Mint NFT</button>
            </div>


    </div>
</div>
<canvas id="canvas"></canvas>
</div>
