
<div style="text-align: center;">
<mat-form-field  style="margin:20px 0" appearance="fill">
    <mat-label>Type of Gratitude Nft</mat-label>
    <mat-select [formControl]="nftOptionControl">
      <mat-option [value]="option" *ngFor="let option of nftOptions ">{{ option }}</mat-option>
    </mat-select>
  </mat-form-field>

  <create-image *ngIf="nftOptionControl.value == 'image'" ></create-image>
  <create-take-photo *ngIf="nftOptionControl.value == 'photo'" ></create-take-photo>
  <!-- <create-record-audio *ngIf="nftOptionControl.value == 'audio'" ></create-record-audio>
  <create-record-video *ngIf="nftOptionControl.value == 'story'" ></create-record-video> -->
</div>