/* You can add global styles to this file, and also import other style files */
:root {
    --black: #0c0f0a;
    --pink: #ff206e;
    --pink-dark: #b3144c;
    --yellow: #fbff12;
    --yellow-dark: #a9ac0d;
    --teal: #41ead4;
    --teal-dark: #288a7d;
    --white: #ffffff;
}